/* Container for each time slot */
.time-slot-container {
    display: flex;
    align-items: center;
    margin-top: 0.1rem;
    border: 1px solid #becfff;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #eef6fd;
    width: 105%;
}

/* Time displayed vertically on the left */
.time-slot-time {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 12px;
    font-weight: 600;
    color: #333;
    margin-right: 0.1rem;
    width: 10px; /* Fixed width for alignment */
    text-align: center;
}

/* Flex container for each court's information */
.time-slot-courts {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Individual court style */
.time-slot {
    flex: 1;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

/* Availability colors */
.time-slot.available {
    background-color: #e0f2ff; /* Light blue for available */
    color: #1565c0;            /* Darker blue for text */
    border: 1px solid #1e88e5; /* Medium blue for border */
}


.time-slot.unavailable {
    background-color: #ffebee; /* Light red for unavailable */
    color: #c62828;
    border: 1px solid #f44336;
}

/* Court name */
.time-slot-court {
    font-weight: bold;
}


/* Paid status for specific slots */
.time-slot.paid {
    background-color: #dfdede; /* Soft yellow if paid */
    border-color: #000000;
}

/* Campeonato */
.time-slot.campeonato {
    background-color: #ede7f6;
    color: #6a1b9a;
    border: 1px solid #8e24aa;
}

/* Mantención */
.time-slot.mantencion {
    background-color: #efebe9;
    color: #4e342e;
    border: 1px solid #6d4c41;
}

/* Clases */
.time-slot.clases {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #43a047;
}

/* Clima */
.time-slot.clima {
    background-color: #fff3e0;
    color: #ef6c00;
    border: 1px solid #fb8c00;
}

